<!-- Header -->
 <section id="header-colombo" class="header-colombo">
   <img class="img-fluid" src="/assets/img/colombo/header.png"  alt="">

</section>
<!-- Pre-inscripción -->
<section>
  <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" >
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-dark text-white-900 sm:text-4xl">FORMATO DE PRE-INSCRIPCIÓN</p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Ideas Colombo 2022 Edición 2 Pensando en ciencia</p>
      </div>
      <div class="mt-10">
        <div class="text-center">
          <button class="btn-secondary"> <a href="http://colomboalemanbq.com/sidica/ideascolombo.php"> Pre-inscribe tu idea Colombo </a> </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Imagen -->
<section id="header-colombo" class="header-colombo">
  <img src="/assets/img/colombo/home.jpg" class="w-100" alt="">
</section>
<!-- Como inscrirbe -->
<section>
  <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" >
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-dark text-white-900 sm:text-4xl">REGLAMENTO DE LA INICIATIVA</p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Ideas Colombo 2022 Edición 2 Pensando en ciencia</p>
      </div>
      <div class="mt-10">
        <div class="lg:text-center relative mx-auto">
          <img class="mx-auto w-70" src="/assets/img/colombo/pasos.png" alt="">
        </div>
      </div>
      <div class="mt-10">
        <div class="text-center">
          <button class="btn-secondary"> <a href="/assets/pdf/Terminos y condiciones.pdf" download="reglamento.pdf">Descarga el reglamento</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<section id="contactanos" class="contactanos">
  <div class="bg-third">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="tracking-tight text-gray-900 ">
        <span class="block text-3xl font-extrabold sm:text-4xl">Participa y Compite con nosotros.</span>
        <span class="block text-3xl font-extrabold secondary mb-3 sm:text-4xl">SIDICA</span>
        <span class="block text-base max-w-xl">Formar capital humano en las áreas de ELECTRÓNICA Y TELECOMUNICACIONES, TECNOLOGÍAS VIRTUALES y DISEÑO E INGENIERÍA, con habilidades y destrezas en actividades de investigación aplicada, Desarrollo Tecnológico e Innovación, con el fin de incrementar la capacidad de generar desarrollo tecnológico e innovación en las empresas de la Región Caribe y Colombia.</span>
        <div class="space-x-2 flex text-sm font-bold mt-3">
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-facebook"></i>
            </button>
          </label>
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-twitter"></i>
            </button>
          </label>
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-instagram"></i>
            </button>
          </label>
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-google"></i>
            </button>
          </label>
        </div>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="flex font-sans">
          <div class="">
            <div class="img-share d-none d-md-block"></div>
          </div>
          <form class="flex-auto sm:p-6">
            <div class="flex flex-wrap">
              <div class="w-full flex-none mt-2 order-1 text-3xl font-bold secondary mb-3">
                Contactanos
              </div>
            </div>
            <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
              <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                <span>Dirección:</span>
              </dd>
              <dd class="flex items-center">
                <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-2 text-slate-300">
                </svg>
                Calle 30 No. 3E-164, Barranquilla (Atlántico)
              </dd>
            </dl>
            <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
              <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                <span>Teléfono:</span>
              </dd>
              <dd class="flex items-center">
                <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-2 text-slate-300">
                </svg>
                3740254 - 3344855
              </dd>
            </dl>
            <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
              <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                <span>E-mail:</span>
              </dd>
              <dd class="flex items-center">
                <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-2 text-slate-300">
                </svg>
                sennova.sena@gmail.com
              </dd>
            </dl>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Formulario pre inscripción -->
<!-- <div class="modal md:hidden"  id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img class="-m-3 p-3 h-20 w-auto sm:h-20 pt-3" src="../assets/img/logo_sidica.png" alt="">
        <button type="button" data-bs-dismiss="modal" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
          <span class="sr-only">Close main menu</span>
           Heroicon name: outline/
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <div class="mt-6">
          <form id="formIdeas">
            <div class="row">
              <div class="col-12">
                <img class="img-fluid" src="/assets/img/colombo/cabecera.png" alt="">
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 text-center">
                <h6>FORMATO DE PRE-INSCRIPCIÓN <span class="text-orange"><b>IDEAS COLOMBO</b></span></h6>
              </div>
            </div>
            <div class="row">
              <div class="flex flex-col mb-3">
                <label for="proyectoTxt" class="mb-1 text-xs tracking-wide text-gray-600">Titulo de la propuesta:</label>
                <div class="relative">
                  <input id="proyectoTxt" type="text" name="proyectoTxt" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Ingresa el titulo de la propuesta"/>
                </div>
              </div>
              <div class="flex flex-col mb-6">
                <label for="nombreInsTxt" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Instructor:</label>
                <div class="relative">
                  <input id="nombreInsTxt" type="text" name="nombreInsTxt" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Nombre del instructor"/>
                </div>
              </div>
              <div class="flex flex-col mb-6">
                <label for="nombreApreTxt" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Aprendiz:</label>
                <div class="relative">
                  <input id="nombreApreTxt" type="text" name="nombreApreTxt" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Nombre del aprendiz"/>
                </div>
              </div>

              <div class="flex flex-col mb-6">
                <label for="nombreApreTxt" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Programa o Especialidad:</label>
                <div class="relative">
                  <input id="programaTxt" type="text" name="programaTxt" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Programa o Especialidad"/>
                </div>
              </div>

              <div class="flex flex-col mb-6">
                <label for="nombreApreTxt" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Ficha:</label>
                <div class="relative">
                  <input id="fichaTxt" type="text" name="fichaTxt" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Número de ficha"/>
                </div>
              </div>

              <div class="flex flex-col mb-3">
                <label for="email" class="mb-1 text-xs tracking-wide text-gray-600">Correo:</label>
                <div class="relative">
                  <input id="email" type="email" name="email" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"placeholder="Ingresa tu correo"/>
                </div>
              </div>

              <div class="flex flex-col mb-3">
                <label for="telTxt" class="mb-1 text-xs tracking-wide text-gray-600">Teléfono:</label>
                <div class="relative">
                  <input id="telTxt" type="text" name="telTxt" class="text-sm placeholder-gray-500 pl-4 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"placeholder="Ingresa tu correo"/>
                </div>
              </div>

            </div>
            <div class="row mt-4">

              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-3">
                    <div class="d-flex flex-column text-center">
                      <h6>
                        Breve Descripción de la propuesta
                      </h6>
                      <img class="img-fluid" src="/assets/img/colombo/cerebro.png" alt="cerebro.png">
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="form-group">
                      <textarea class="form-control b-black" id="ideaTxt" name="ideaTxt" rows="12" placeholder="max. 300 palabras, min. 150"></textarea>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mt-4">
              <div class="col-12">
                <img class="img-fluid" src="/assets/img/colombo/piecera.png" alt="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

