<!-- Header -->
 <section id="header-colombo" class="header-colombo">
  <img src="/assets/img/colombo/header.jpg" class="w-100" alt="">
</section>
<!-- Pre-inscripción -->
<section>
  <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" >
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-dark text-white-900 sm:text-4xl">FORMATO DE PRE-INSCRIPCIÓN</p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Ideas Colombo 2020 Edición 2 Pensando en ciencia</p>
      </div>
      <div class="mt-10">
        <div class="lg:text-center">
          <button class="btn-secondary"> Pre-inscribe tu idea Colombo </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Imagen -->
<section id="header-colombo" class="header-colombo">
  <img src="/assets/img/colombo/home.jpg" class="w-100" alt="">
</section>
<!-- Como inscrirbe -->
<section>
  <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" >
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-dark text-white-900 sm:text-4xl">REGLAMENTO DE LA INICIATIVA</p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Ideas Colombo 2020 Edición 2 Pensando en ciencia</p>
      </div>
      <div class="mt-10">
        <div class="lg:text-center relative mx-auto">
          <img class="mx-auto w-70" src="/assets/img/colombo/tutorial.jpg" alt="">
        </div>
      </div>
      <div class="mt-10">
        <div class="lg:text-center">
          <button class="btn-secondary"> Descarga el reglamento </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<section id="contactanos" class="contactanos">
  <div class="bg-third">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="tracking-tight text-gray-900 ">
        <span class="block text-3xl font-extrabold sm:text-4xl">Participa y Compite con nosotros.</span>
        <span class="block text-3xl font-extrabold secondary mb-3 sm:text-4xl">SIDICA</span>
        <span class="block text-base max-w-xl">Formar capital humano en las áreas de ELECTRÓNICA Y TELECOMUNICACIONES, TECNOLOGÍAS VIRTUALES y DISEÑO E INGENIERÍA, con habilidades y destrezas en actividades de investigación aplicada, Desarrollo Tecnológico e Innovación, con el fin de incrementar la capacidad de generar desarrollo tecnológico e innovación en las empresas de la Región Caribe y Colombia.</span>
        <div class="space-x-2 flex text-sm font-bold mt-3">
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-facebook"></i>
            </button>
          </label>
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-twitter"></i>
            </button>
          </label>
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-instagram"></i>
            </button>
          </label>
          <label>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-full text-white bg-secondary" type="button" aria-label="Like">
              <i class="fab fa-google"></i>
            </button>
          </label>
        </div>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="flex font-sans">
          <div class="">
            <div class="img-share"></div>
          </div>
          <form class="flex-auto sm:p-6">
            <div class="flex flex-wrap">
              <div class="w-full flex-none mt-2 order-1 text-3xl font-bold secondary mb-3">
                Contactanos
              </div>
            </div>
            <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
              <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                <span>Dirección:</span>
              </dd>
              <dd class="flex items-center">
                <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-2 text-slate-300">
                </svg>
                Calle 30 No. 3E-164, Barranquilla (Atlántico)
              </dd>
            </dl>
            <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
              <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                <span>Teléfono:</span>
              </dd>
              <dd class="flex items-center">
                <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-2 text-slate-300">
                </svg>
                3740254 - 3344855
              </dd>
            </dl>
            <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
              <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                <span>E-mail:</span>
              </dd>
              <dd class="flex items-center">
                <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-2 text-slate-300">
                </svg>
                sennova.sena@gmail.com
              </dd>
            </dl>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
