.md{
  width: 100% !important;
  height: 150% !important;
  padding-bottom: 50px !important;
}

.text-home{
  padding-top: 4em;
  font-size: 3em;
  line-height: 67px;
}
.description-header{
  font-size: 1.5em;
}
.description-header button{
  font-size: 1em;
}

.img-home{
  position: absolute;
  right: -64px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-image: url("src/assets/img/1 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-share{
  width: 200px !important;
  height: 200px!important;
  background-image: url("src/assets/img/share.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-form{
  width: 400px !important;
  height: 400px!important;
  background-image: url("src/assets/img/movl.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-form2{
  width: 400px !important;
  height: 400px!important;
  background-image: url("src/assets/img/robot.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .home{
    display: flex;
    flex-wrap: wrap;
  }
  .header{
    max-width: 50% !important;
    padding-right: 80px;
  }

}

@media screen and (max-width: 600px) {
  .text-home{
    left: 6.2%;
    right: 52.65%;
    padding-top: 2em;

    font-size: 2em;
    line-height: 35px;
  }

}
